.tabela{
	margin: 0 auto;
	background-color: #eee;
	
	border: solid 1px;
}
body{
	background-color: #ddd;
}
.voltar {
	margin-top: 3%;
	margin-left: 50%;
}
.indexBtn {
	margin-top: 1%;
	margin-left: 50%;
	height: 60px;
}
